#SongPanel
    font-family: sans-serif
    font-weight: bold
    border-radius: 20px
    margin-bottom: 20px
    position: relative
    background: #12c812
    width: 400px
    height: 60px
    align-items: center
    display: flex
#PlayButton
    float: left
    width: 40px
    height: 40px
    border-right: 1px solid black
    background-image: url(https://cdn-icons-png.flaticon.com/512/17/17550.png)
img
    cursor: pointer
    position: relative
    left: 5px
    height: 40px
    width: 40px
#InfoLength
    justify-content: space-between
    display: flex
    align-items: center
    width: 100%
#Info
    float: left
    padding-left: 20px
    h3
        position: relative
        top: 10px
        color: rgba(0,0 ,0 ,0.8 )
    h4
        position: relative
        bottom: 10px
        color: rgba(0,0 ,0 ,0.8 )
#Length
    position: relative
    font-size: 16px
    right: 20px
