body
    margin: 0px
    padding: 0px
    background: #262626
    width: 100%
    height: 100%

#Songs
    height: 76%
    width: 100%
    position: absolute
    overflow-y: auto 

#Songs::-webkit-scrollbar
    width: 14px

#Songs::-webkit-scrollbar-track
    color: #5a5555
    border-radius: 4px

#Songs::-webkit-scrollbar-thumb
    background: #807474
    border-radius: 4px

#Loader
  display: inline-block
  width: 80px
  height: 80px
  margin-top: 12%
  margin-left: 45%

#Loader:after 
  content: " "
  display: block
  width: 80px
  height: 80px
  margin: 8px
  border-radius: 50%
  border: 6px solid #fed
  border-color: #fed transparent #fed transparent
  animation: Loader 1.2s linear infinite

@keyframes Loader
  0% 
    transform: rotate(0deg)
  
  100% 
    transform: rotate(360deg)
  
